@using GeekStream.Core.Entities
@model GeekStream.Core.ViewModels.ArticleEditViewModel

@{
    ViewData["Title"] = "Edit";
}
<form method="post" asp-controller="Articles" asp-action="EditArticle" enctype="multipart/form-data" >
    <input type="hidden" asp-for="Id"/>
    <div class="navbar">
        <h5>Новая статья</h5>
        <div class="text-right mb-0">
            <div class="form-group">
                <input type="submit" name="action" id="save" value="Сохранить черновик" class="btn btn-light mr-2" />
                @if (Model.ArticleType == ArticleType.Draft)
                {
                    <input type="submit" name="action" id="publish" value="Опубликовать" class="btn btn-primary" />
                }
                @if (Model.ArticleType == ArticleType.Ready)
                {
                    <input type="button" name="action" id="publish" value="Опубликовать" class="btn disabled" />
                }
                @if (Model.ArticleType == ArticleType.Approved || Model.ArticleType == ArticleType.Hidden)
                {
                    <input type="submit" name="action" value="Статья одобрена" class="btn btn-primary" />
                }
                @if (Model.ArticleType == ArticleType.Posted)
                {
                    <input type="submit" name="action" value="Скрыть" class="btn btn-primary" />
                }
                        
                
            </div>
        </div>
    </div>
    <input type="hidden" asp-for="ArticleType"/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Придумайте название статьи"/>
                <small class="form-text text-muted">Хорошее название может заинтересовать мноигих читателей</small>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.Category"></select>
                <small class="form-text text-muted">Статью можно отправить в одну категорию</small>
            </div>
            <div class="form-group">
                <label asp-for="Keywords" class="control-label"></label>
                <input asp-for="Keywords" class ="form-control" placeholder="Укажите ключевые слова"/>
                <small class="form-text text-muted">Ключевые слова помогают найти вашу статью в поиске</small>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control text-muted" rows="10"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="files">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
    </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
