@model IEnumerable<GeekStream.Core.ViewModels.Article.ArticleFeedViewModel>

@{
    ViewData["Title"] = "Index";
}
<h5 class="mb-2">Лента</h5>
@if(Model == null)
{
<h4>Пока здесь пусто</h4>
}
else
{
    await Html.RenderPartialAsync("_ArticlesListCards");
}
