<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="warticleIdth=device-warticleIdth, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeekStream</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @await Html.PartialAsync("_Navbar")
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            @await Html.PartialAsync("_Subscriptions")
            </div>
            <div class="col">
                @RenderBody()
            </div>
            <div class="col-md-2">
                @await RenderSectionAsync("discussingNow",required: false)
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
