<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeekStream</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @await Html.PartialAsync("_Navbar")
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5 class="mb-2">Подписки</h5>
                <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="true" autocomplete="off"asp-controller="Home" asp-action="Index">Все подряд</button>
                <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false" autocomplete="off" asp-controller="Home" asp-action="Index" asp-route-id="1">IT</button>
                <button type="button" class="btn btn-light" data-toggle="button" aria-pressed="false" autocomplete="off">Физика</button>
                @await RenderSectionAsync("subscriptions", required: false)
            </div>
            <div class="col">
                @RenderBody()
            </div>
            <div class="col-md-3">
                @await RenderSectionAsync("discussingNow",required: false)
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
