@model IEnumerable<GeekStream.Core.Entities.Category>

@{
    ViewData["Title"] = "Index";
}
<div class="row h-25">
@foreach (var item in Model)
{
        <div class="col-md-4">
            <div class="card">
                <form asp-controller="Categories" asp-action="Index" method="get">
                    <button type="submit" class="btn btn-light btn-block" name="category" value="@item.Id">
                        @item.Name
                    </button>
                </form >
            </div>
        </div>
    }
</div>
