@model IEnumerable<GeekStream.Core.Entities.Category>

@{
    ViewData["Title"] = "Categories";
}

    <div class="row h-25">
        @foreach (var item in Model)
        {
        <div class="col-md-4">
            <div class="card">
                <a class="btn btn-light btn-block" name="category" asp-controller="Categories" asp-action="Index" asp-route-category="@item.Id">
                    @item.Name
                </a>
            </div>
        </div>
        }
    </div>
