@{
    ViewData["Title"] = "Admin Panel";
}
        <div class="card mb-2">
            <div class="card-header">
                Categories
            </div>
            <div class="card-body">
                    <h5 class="card-title">
                        <a asp-action="ListCategories" class="btn btn-outline-primary">All Categories</a>
                    </h5>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-header">
                Roles
            </div>
            <div class="card-body">
                    <h5 class="card-title">
                        <a asp-action="ListRoles" class="btn btn-outline-primary">All Roles</a>
                    </h5>
            </div>
        </div>