@model IEnumerable<GeekStream.Core.ViewModels.Category.CategoriesListViewModel>

@{
    ViewData["Title"] = "All Categories";
}

    <a class="btn btn-primary mb-3" asp-controller="Admin" asp-action="CreateCategory">Add new category</a>
@if (Model.Any())
{

    foreach (var category in Model)
    {
        <div class="card mb-2">
            <div class="card-header">
                Role Id : @category.Id
            </div>
            <div class="card-body">
                    <h5 class="card-title">
                        @category.Name
                    </h5>
            </div>
                <div class="card-footer">
                    <a class="btn btn-primary" asp-controller="Admin" asp-action="EditCategory" asp-route-id="@category.Id">EditArticle</a>
                    <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteCategory" asp-route-id="@category.Id">Delete</a>
                    <a class="btn btn-outline-primary" asp-action="Index">Back</a>
                </div>
        </div>
    }
    
}
else
{
    
}
