@using GeekStream.Core.Services
@model IEnumerable<GeekStream.Core.Entities.Chat>
@inject UserService _userService

@{
    var userId = _userService.GetCurrentUser().Id;
}

<div class="chat-body">
    @foreach (var chat in Model)
    {
        <a class="room-button" asp-controller="Chats" asp-action="Chat" asp-route-id="@chat.Id">
            @chat.Users.FirstOrDefault(x => x.UserId != userId).User.UserName
        </a>
    }
</div>
